﻿

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        LOGO
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse menuGaluguel" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><i class="fa fa-home fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Início", "Index", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item"><i class="fa fa-user-plus fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Sobre", "About", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item"><i class="fa fa-bars fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Contato", "Contact", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item"><i class="fa fa-plus-circle fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Contato", "Contact", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item"><i class="fa fa-building fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Contato", "Contact", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item"><i class="fa fa-plus-square fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Contato", "Contact", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item"><i class="fa fa-address-book fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Contato", "Contact", "Home", null, new { @class = "nav-link" })</li>
            <li class="nav-item"><i class="fa fa-cog fa-2x d-flex justify-content-center align-self-center"></i> @Html.ActionLink("Contato", "Contact", "Home", null, new { @class = "nav-link" })</li>
        </ul>
    </div>
</nav>