﻿.menuGaluguel ul li {
    background-color: #e0e0e0;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Roboto";
    font-size: 10pt;
}

.menuGaluguel ul li a {
    color: red;
}


